<!DOCTYPE html>
<html>
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101233231-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-101233231-2');
        </script>
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <link rel="stylesheet" href="./JsonTreeBuilder.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <title>API Tester</title>
        <style>
            [v-cloak] {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <v-app v-cloak>

                <v-toolbar color="primary" dark flat>
                    <v-spacer></v-spacer>
                    <v-toolbar-title><h2>API Tester</h2></v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>

                <v-content>
                    <v-container grid-list-md>
                        
                        <v-layout wrap row>

                            <v-flex sm10 xs12>
                                <v-text-field solo label="Base URL" v-model="baseUrl"></v-text-field>
                            </v-flex>

                            <v-flex sm2 xs12>
                                <v-btn color="secondary" large outline @click="fetch()">
                                    <span v-show="ajaxState!='loading'">GET</span>
                                    <v-progress-circular indeterminate color="error" v-show="ajaxState=='loading'"></v-progress-circular>
                                </v-btn>
                            </v-flex>

                        </v-layout>

                        <v-layout>
                            <v-flex xs12>
                                <v-btn depressed color="warning" @click="param.push({id:param.length, name:'', value:''})">Add Param</v-btn>
                            </v-flex>
                            <v-flex xs12>
                                <v-btn depressed color="error" @click="param.pop()">Remove Param</v-btn>
                            </v-flex>
                        </v-layout>

                        <v-layout v-for="instance in param" :key="instance.id">
                            <v-flex xs3>
                                <v-text-field solo label="Key" v-model="instance.name"></v-text-field>
                            </v-flex>

                            <v-flex xs3>
                                <v-text-field solo label="Value" v-model="instance.value"></v-text-field>
                            </v-flex>
                        </v-layout>
                        <br><br>
                        <v-layout wrap row>
                                <v-flex xs4>
                                    <v-card>
                                        <v-card-title>
                                            <h3>Status : </h3>
                                            <h3 v-text="response.status"></h3>
                                        </v-card-title>
                                    </v-card>
                                </v-flex>
                                <v-flex xs4>
                                    <v-card>
                                        <v-card-title>
                                            <h3>Status Text : </h3>
                                            <h3 v-text="response.statusText"></h3>
                                        </v-card-title>
                                    </v-card>
                                </v-flex>
                                <v-flex xs4>
                                    <v-card>
                                        <v-card-title>
                                            <h3>Time : </h3>
                                            <h3 v-text="lastTime + ' ms'"></h3>
                                        </v-card-title>
                                    </v-card>
                                </v-flex>
                        </v-layout>

                        <v-layout>
                            <v-flex>
                                <div id="placeholder"></div>
                            </v-flex>
                        </v-layout>




                    </v-container>
                </v-content>  

                <v-footer dark>
                    <v-spacer></v-spacer>
                    <a href="https://parthshah.xyz">parthshah.xyz</a>
                    <v-spacer></v-spacer>
                </v-footer>
                

            </v-app>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="./JsonTreeBuilder.js"></script>
        <script src="script.js"></script>
    </body>
</html>